body,
h1,
h2,
p,
h3,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

body,
html,
.container {
    height: 100%;
    max-height: 100%;
}

/* HEADER*/
.top {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 13px;
}

.container,
.content {
    display: flex;
}

.container {
    flex-direction: column;
}

.content {
    overflow: hidden;
}

.content,
.content div {
    flex: 1;
}

.content div {
    overflow: auto;
}

/* Tekst layout */

.header {
    height: 28px;
    background-color: aliceblue;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: aliceblue;
    /*padding-top: 10px;
    padding-left: 20px;*/
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(90, 170, 230));
}

.ikoner {
    float: right;
    margin-left: 20px;
    padding-top: 4px;
}


.header > img {
    display: inline-block;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: 900;
    color: rgb(90, 170, 230);
    padding-top: 3px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    color: aliceblue;
    padding-bottom: 10px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: aliceblue;
    padding-top: 5px;

}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    color: aliceblue;
    padding-top: 7px;
    padding-bottom: 7px;

}

.middle a {
    font-size: 14pt;
}

/*.middle h2 {
    font-size: 50pt;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}*/

a {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: aliceblue;
    padding-top: 5px;
}

.bogbox a {
    color: rgb(90, 170, 230);
    font-size: 10pt;
}
/* Sidens struktur */
.left {
    background-image: linear-gradient(rgb(90, 170, 230), rgb(5, 255, 5));
    padding: 20px;
    padding-bottom: 40px;
}

.middle {
    background-image: linear-gradient(rgb(5, 255, 5), rgb(70, 30, 30));
    overflow-y: scroll;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: aliceblue;
    padding: 20px;
    padding-bottom: 40px;
}

.right {
    background-image: linear-gradient(rgb(70, 30, 30), rgb(90, 170, 230));
    padding: 20px;
    padding-bottom: 40px;
}

/* BOGKLUB */
.bogbox {
    background-color: white;
    padding: 25px;
    margin-bottom: 10px;

}

/* dato til højre, samt clear */
.hojre {
    float: right;
    font-size: 12pt;
    margin-bottom: 3px;
}

.clear {
    clear: right;
}

.clear > h2 {
    color: rgb(90, 170, 230);
    font-size: 14pt;
    padding-bottom: 7px;

}

.clear > p {
    color: rgb(90, 170, 230);
    font-size: 10pt;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* BOGKLUB Slut */

/* scrollbar styling */
#style-1::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

#style-1::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 0, 0, 0);
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: aliceblue;

}

.footer {
    display: none;
}

@media only screen and (max-width: 800px) {

    .container,
    .content {
        display: block;
    }

    .left {
        height: 200px;
        overflow: hidden;
        border-bottom: solid 1px white;
    }

    .middle {
        height: 50px;
        overflow: hidden;
        border: solid 0px white;
        border-top: solid 1px white;
        border-bottom: solid 1px white;

    }

    .right {
        height: 200px;
        overflow: hidden;
        border-bottom: solid 1px white;
    }

    .content {
        overflow: hidden;
    }

    .content div {
        overflow: auto;
    }

    .header {
        height: 40px;
    }

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 12pt;
        font-weight: 900;
        color: rgb(90, 170, 230);
        padding-top: 3px;
        width: 60%;
    }

    .middle h2 {
        font-size: 15pt;
        font-weight: bold;
        padding: 0px;
    }


    .ikoner {
        display: none;
    }

    .footer {
        display: flex;
        background-image: linear-gradient(to right, rgb(90, 170, 230), rgb(255, 255, 255));
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 13px;

    }

    .break {
        display: none;
    }
    
    .ikoner_fot {
        padding-right: 15px;
    }

}
